@charset "UTF-8";

#overlay{
	visibility: hidden;
	background: #000;
	opacity: 0.65;
	height: 100%;
	width:100%;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top:0;
	z-index: 1;
	transition: all .5s;
	
}

.updateNoticeContainer{
	width: 800px;
    height: 700px;
    margin: 120px auto 100px;
    border: 1px solid;
}

table {
	margin-top:17px;
    width: 100%;   
    border-collapse: collapse;
}

tr{
	border-top:1px solid;
	border-left:1px solid;
	border-right: 1px solid;
}

th, td{
	padding:10px;
}

th{
	background-color: #a8f0ff;
	width: 110px;
	text-align: center;
}

td{
	border-left:1px solid;
	border-right:1px solid;
	padding-left: 30px;
	width:280px;
}

td:last-child {
	border-right: none;
}

.spanbox:last-child{
	margin-left: 25px;
}

