<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<!-- 빈클래스 객체명 별칭 사용 -->
<configuration>
 <typeAliases>
 
 	<typeAlias type="net.daum.vo.User_infoVO" alias="ui" /> <!-- 빈클래스 별명사용 -->
 	
 
 </typeAliases>
</configuration>