@charset "UTF-8";

#overlay{
	visibility: hidden;
	background: #000;
	opacity: 0.65;
	height: 100%;
	width:100%;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top:0;
	z-index: 1;
	transition: all .5s;
	
}
.batang{
	background-color: #FEE2CB;
}

.noticeContainer{
	
	border:1px solid;
	width: 800px;
	height: 800px;
	margin: 100px auto;
	background-color: white;
}

.noticeTab{
	height: 80px;
	width: 100%;
	
	display:flex;
}

.tab{
	width: 33.3%;
	height: 100%;
	font-size: 30px;
	text-align: center;
	line-height: 78px;
	
}

.tab a{
	color: #afafaf;
	display:block;
}

.tab.active:hover a, .active a{
	color: #000000;
}

.tabDiv{
	//border:1px solid;
	width: 700px;
	height: 540px;
	margin: 40px auto 0px;
	
}

.td{
	display:none;
}

.td.active{
	display:block;
}

.noticeBox:first-child{

	border:1px solid;
}

ul a{
	border:0px;
}

.tabDiv ul li:hover{
	background-color: #dbdbdb;
}

.noticeBox{
	width: 100%;
	height: 50px;
	border-left:1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
}

.noticeBox span{
	line-height: 50px;
	width: 70px;
	height: 50px;
	display:inline-block;
	text-align: center;
	margin-left:20px;
	overflow: hidden;
}

.noticeBox span:last-child{
	margin-left:75px;
	width: 150px;
}

.title{
	width: 250px  !important;
	//overflow: hidden;
}

.noticeTitle{
	height: 40px;
	background-color: #d1d1d1;
	
}

.noticeTitle span{	
	line-height: 40px;
}

.pageContainer{
	margin:50px 50px 0px;
	text-align: center;
}

.goPage{
	width: 60px;
	height: 40px;
	font-size: 16px;
}

.nowPage{
	padding:30px;
	font-size: 18px;
	font-weight: bold;
}

