@charset "UTF-8";

*{
	margin : 0px;
	padding : 0px;
	list-style: none;
	text-decoration: none;
}

.Bar{
	height: 70px;
	position: relative;
	width: 100%;
	min-width: 1007px;
	display:flex;
	text-align: center;
	border-bottom: 1px solid #dde1e5;
	background-color: #c0c0c0;
}

.leftBar{
	padding:24px 24px 21px;
	left: 1px;
	position: absolute;
	cursor: pointer;
}

.leftBar:hover{
	color : blue;
}

.rightBar{
	position: absolute;
	top: 0px;
	right : 0px;
	display:flex;
	height: 70px;
	padding-right: 30px;
	color: #17191D;	
}

.loginBtn, .registerBtn{
	color : inherit;
}

.loginBtn:hover, .registerBtn:hover{
	color : #0ea2f1;
}

.leftBar_menu{
	position: fixed;
	top:0px;
	bottom:0px;
	width: 370px;
	height: 100%;
	left:0px;
	visibility:hidden;
	background-color:white;
	z-index: 4;
	transform:translate3d(-100%,0,0);
	transition : all .5s;
}

.cancleBox{
	height: 70px;
	border-bottom: 3px solid;
}

.cancle{
	padding:18px 27px 18px;
	left: 1px;
	position:absolute;
	font-size: 25px;
}

.cancle:hover{
	cursor: pointer;
}
.menuContainer, .mypage{
	margin:0px auto;
	position: relative;
	width: 250px;
	
}


.menuContainer ul, .mypage ul{
	padding: 45px 0px;
}

.menuContainer ul li, .mypage ul li{
	font-weight: bold;
	font-size:20px;
	height: 40px;
	border-bottom: 1px solid #EDEDED;
	line-height: 40px;
	letter-spacing: 0.12em;

}

.menuContainer ul li a, .mypage ul li a{
	color: #17191D;
}

.menuContainer ul li a:hover, .mypage ul li a:hover{
	color: #ff6c6c;
}

.spaceDiv{
	
	border-bottom: 3px solid;
	width: 100%;
}


.home{
	font-size: 24px;
	width:100%;
}

.logo a i{
	color: #804040;
}


.loginBtn{
	padding:24px 3px 0px;
	display: block;
}

.registerBtn{
	padding:24px 3px 0px;
	display: block;
}

.space{
	margin:0px 5px;
	height: 70px;
	padding-top: 21px;
}