@charset "UTF-8";

*{
	margin:0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

.bodyContainer{
	margin: 130px 0 200px 0;
}

.myinfoContainer{
	
	
	margin : 0px auto;
	width:700px;
	height: 700px;
		
}

.tmp{
	display: inline-flex;
}

.menuBar{
		
	width: 120px; 
	height: 700px; 	
	display: block;	
}

.infoBar{
	box-shadow: 0px 15px 40px #b5b5b5;
	width: 580px;
}

.menuBox{
	width: 100%; /* 책깔피 너비 */
	height: 100px; /* 책깔피 높이 */
	font-size: 60px;
	line-height: 100px;
	color: #969696;
	text-align: center;
	text-shadow: 0px 1px black;
}

.menuBox:hover{
	cursor: pointer;
	border-width: 3px 0px 3px 3px ;
 	border-style: solid;
 	border-color: white;
 	color: #777777;
}

.b1{
	background-color: rgb(214,230,245);
}

.b1 i, .b2 i{
	text-shadow: 0px 1px black;
}

.b2{
	background-color: rgb(181,214,146);
}

.b3{
	background-color: #ffdb9b;
}

.b4{
	background-color: #ffc8c8;
}


.infoBox{
	width:100%;
	height: 100%;
	
}

.profileContainer{
	margin: 25px auto;
	width: 400px;
	height: 360px;
	/* border:2px solid; */
}

.profileImage{
	margin:20px auto;
	width: 240px;
	height: 240px;
	border: 4px solid;
	background-color: #faecab;
	border-radius: 150px;
	
}
.btnBox{
	
	padding-top: 25px;
}

.infoBtn{ 
	margin-left:37px;
	width:80px;
	height: 50px;
	font-size: 14px;
}

.nicknameBox{
	width: 400px;
	height: 150px;
	border: 1px solid;
	margin: 0px auto;
	display:flex;
}

.question{
	width:150px;
	height: 100%;
	background-color: #f9f9f9;
	/* border: 1px solid #e5e5e5; */
	position: relative;
}

.question span{
	position: absolute;
	left:40%;
	margin-top:67px;
	
}

.nickname{
	padding: 62px 0px 58px 30px;
}

.nick{
	padding: 5px;
}

.checkBox{
	text-align: center;
	margin-top:40px;
}

.checkBox input{
	width:60px;
	height: 40px;
	margin-left:20px;
}

.checkBox input:hover{
	cursor: pointer;
}

.sub{
	background-color:  rgb(181,214,146);
	border: 1px solid rgb(181,214,146);
	color:#fff;
}

.can{
	background: #fff;
	border: 1px solid #bfbfbf;
}


