@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	text-decoration: none;
	list-style: none;
}

#overlay{
	visibility: hidden;
	background: #000;
	opacity: 0.65;
	height: 100%;
	width:100%;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top:0;
	z-index: 3;
	transition: all .5s;
	
}

.memoContainer{
	
	width: 1200px;
	margin: 20px auto;
	display:flex;
}

.editForm{
	display: flex;
}

.memoBox{
	width: 935px;
	height: 970px;
	padding-top:40px;
	background-image: url("../images/scatchbook.png");
	background-size: cover;
}

.writeSpace{
	margin: 200px 130px 130px 130px;
	border: 1px solid;
	width: 750px;
	height: 610px;
}

.titleBox{
	margin:50px 55px;
}

#memo_title{
	padding:10px 20px;
	width: 310px;
	height: 30px;
	overflow: hidden;
}

.titleBox span{
	padding-left: 110px;
}

.editBtn{
	width:610px;
	height: 45px;
	margin: 10px auto 0px;
	border: 1px solid;
	background-color: #d0d0d0;
	line-height: 43px;
	padding:0px 15px;
}

.edit{
	width: 30px;
	height: 30px;
	border: 1px solid;
	border-radius: 20%;
	text-align: center;
	display: inline-block; /*span 태그는 인라인 요소라서 너비 설정이 안되므로 블럭처리하면 너비설정이 가능해진다. 마진또한 마찬가지*/
	font-size: 20px;
	line-height: 30px;
	margin-left: 3px;
	vertical-align: middle;
	background-color: inherit;
}

.edit:hover{
	cursor:pointer;
	background-color: #848484;
}

.fontSize{
	width: 80px;
	height: 30px;
	margin-left :10px;
	vertical-align: middle;
}



#memo_cont{
	border:1px solid;
	width:560px;
	height: 300px;
	margin: 0px auto;
	padding:40px;
	overflow-y:scroll;
	-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    border-top: none;
}

#memo_cont::-webkit-scrollbar{
	display:none;
}

#memo_cont img{
	max-width: 20%;
}



.doguchang{
	margin: 165px 0 0 40px;
	width: 125px;
	height: 370px;
	border: 10px solid black;
	padding: 15px 0;
}

.doguchang a{
	color:#000000;
}

.dogu{
	font-size: 60px;
	padding:15px 35px;
	text-align: center;
	display:inline-block;
}

.dogu:hover{
	cursor: potiner;
	color: #626262;
}

.wall{
	width:100%;
	border-top: 10px solid black;
	margin: 15px 0;
}


.modal_overlay{
	background: #000;
	opacity: 0.65;
	height: 100%;
	width:100%;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top:0;
	z-index: 1;
}

.modal{
	width:450px;
	height: 350px;
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	border:5px solid;
	z-index:2;
	background-color: #f0f0f0;
}

.closeBox{
	width: 100%;
	height: 50px;
	margin:10px 0px;
	text-align: right;
	line-height: 40px;
	border-bottom: 1px solid #c9c9c9;
}

.closeBox span{
	font-size: 40px;
	padding-right: 20px;
}

.infoBox{
	width: 390px;
	height: 220px;
	padding:30px;
	
}

